{% extends "base.html" %}

{% block title%} Home- Personal Blog {% endblock %}

{% block content%}

<!-- formulario de edicao do post -->
<div class="editform">

    <h2>Update Article</h2>

    <form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=40) }}
    </div>
    <div>
        {{ form.published_date.label }}<br>
        {{ form.published_date(size=40) }}
    </div>
    <div>
        {{ form.content.label }}<br>
        {{ form.content(rows=10, cols=40) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

</div>


{% endblock %}