.home_box {
    width: 35%;
    border: solid black 1px;
    font-size: smaller;

}



ul li h2 li {
    display: flex;
    flex-wrap: wrap;



}

ul li h2 li a {

    text-decoration: none;
    color: black;

}

.color {

    margin-left: 10%;
    text-decoration: none;
    color: rgb(168, 182, 180);

}